body, html {
  margin: 0;
  font-family: Cinzel, Comfortaa, sans-serif;
  background-color: #08326c;
}


.header {
  background-color: #08326c;
  color: #93dbfe;
  padding: 20px;
  text-align: center;
  border: 2px solid #93dbfe;
  margin: 10px;
}

.around-header {
  background-color: #08326c;
  margin: 0;
}

.row {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}


.column {
  height: auto;
  padding: 10px;
  margin: 15px;

}

#col-1 {
  width: 25%;
  text-align: center;
  color: #93dbfe;
}

#col-2 {
  width: 65%;
  background-color: #93dbfe;
  padding: 20px;
}


@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}



.expert {
  margin-bottom: 25px;
}

.image {
  padding: 5px;
  border: 1px solid #93dbfe;
  margin-bottom: 25px;
}

.about {
  color: #08326c;
}

hr.hr {
  border-top: 1px solid #93dbfe;
}

hr.hr2 {
  border-top: 1px solid #08326c;
  margin: 20px;
}

a {
  color: #93dbfe;
}

.centered {
  text-align: center;
}

.exp {
  font-size: 14px;
}

footer {
  text-align: center;
}


.foot {
  color: #93dbfe;
}
